<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>RMS</title>
    <meta name="description" content="Index">
    <meta name="author" content="Mitrais">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-color--grey-100 box-center">
    <main class="mdl-layout__content">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Project Name</th>
                <th>Members</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="project:${projects}">
                    <td class="mdl-data-table__cell--non-numeric" th:text="${user.userName}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <a th:href="@{${project.id}}" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">add</i>
                        </a>
                        <form th:action="@{'/projects/'+${project.id}}" th:method="delete">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--icon" >
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/users/add}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Add User
        </a>
    </main>
</div>
<script src="js/scripts.js"></script>
</body>
</html>
